<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.module_architecture">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".pattern.adapter.AdapterActivity"></activity>
        <activity android:name=".pattern.factory.FactoryActivity" />
        <activity android:name=".paging.PagingActivity" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme" />
        <activity android:name=".rxjava.demo.RxJavaTestActivity" />
        <activity android:name=".mvvm.MvvmDemoActivity" />
        <activity android:name=".dagger.DaggerDemoActivity" />
        <activity android:name=".pattern.prototype.ProtoTypeActivity" />
        <activity android:name=".pattern.singleton.SingletonActivity" />
        <activity android:name=".pattern.builder.BuilderDemoActivity" />
        <activity android:name=".jetpack.viewmodel.NewWordActivity" />
        <activity android:name=".jetpack.viewmodel.ViewModelActivity" />
    </application>

</manifest>