<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.module_basis">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".basis.constraint.ContraintDemoActivity"></activity>
        <activity android:name=".adaptation.storage.StorageDemoActivity" />
        <activity android:name=".adaptation.bar.SplashBarActivity" />
        <activity android:name=".adaptation.bar.SplashImageActivity" />
        <activity android:name=".adaptation.bar.MainSplashActivity" />
        <activity android:name=".widget.recyclerview.multi.MultiActivity" />
        <activity android:name=".media.camera.camerax.CameraXActivity" />
        <activity android:name=".widget.imageview.ImageViewActivity" />
        <activity android:name=".others.popwindow.PopupWindowActivity" />
        <activity android:name=".others.dialog.DialogFragmentActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".basis.FragmentActivity" />
        <activity android:name=".basis.viewpager.VpAndFragActivity" />
        <activity android:name=".media.NotifyActivity" />
        <activity android:name=".media.camera.CameraDemoActivity" />
        <activity android:name=".widget.edittext.EditTextDemoActivity" />
        <activity android:name=".widget.recyclerview.RecyclerViewActivity" />
        <activity android:name=".widget.recyclerview.updownrecyclerview.UpDownRecyclerViewActivity" />
        <activity android:name=".widget.recyclerview.snaphelper.SnapHelperActivity" />
        <activity android:name=".widget.recyclerview.delete.DeleteRecyclerViewActivity" />
        <activity android:name=".widget.recyclerview.grid.GridViewActivity" />
        <activity android:name=".others.floating.FloatingViewActivity" />
        <activity android:name=".widget.textinput.TextInputActivity" />
        <activity android:name=".basis.service.ServiceDemoActivity" />
        <activity android:name=".media.voice.VoiceActivity" />

        <service
            android:name=".basis.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".basis.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".others.floating.FloatingService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wdz.module_basis.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>