<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.module_basis">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"/>
        <activity android:name=".basis.FragmentActivity"/>
        <activity android:name=".basis.viewpager.VpAndFragActivity"/>
        <activity android:name=".media.NotifyActivity"/>
        <activity android:name=".media.camera.CameraXActivity"/>
        <activity android:name=".widget.edittext.EditTextDemoActivity"/>

        <activity android:name=".widget.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".widget.recyclerview.updownrecyclerview.UpDownRecyclerViewActivity"/>
        <activity android:name=".widget.recyclerview.snaphelper.SnapHelperActivity"/>
        <activity android:name=".widget.recyclerview.delete.DeleteRecyclerViewActivity"/>
        <activity android:name=".widget.recyclerview.grid.GridViewActivity"/>
        <activity android:name=".others.floating.FloatingViewActivity"/>
        <activity android:name=".widget.textinput.TextInputActivity"/>
        <activity android:name="com.wdz.module_basis.basis.service.ServiceDemoActivity" />
        <service
            android:name="com.wdz.module_basis.basis.service.MyIntentService"
            android:exported="false" />
        <service
            android:name="com.wdz.module_basis.basis.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.wdz.module_basis.others.floating.FloatingService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>