<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.studycollection">
    <!-- 精确定位权限，允许一个程序访问精良位置(如GPS) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wdz.studycollection.handler.Timer1Activity"/>
        <activity android:name="com.wdz.studycollection.handler.TimerActivity" />
        <activity android:name="com.wdz.studycollection.handler.DataBindingDemoActivity" />
        <activity android:name="com.wdz.studycollection.handler.HandlerDemoActivity" />
        <activity android:name="com.wdz.studycollection.datasave.room.RoomTestActivity" />
        <activity android:name="com.wdz.studycollection.anim.AnimDemoActivity" />
        <activity android:name="com.wdz.studycollection.viewbase.scroller.ScrollerActivity" />
        <activity android:name="com.wdz.studycollection.viewbase.floating.FloatingViewActivity" />
        <activity android:name="com.wdz.studycollection.viewbase.CoordinateSystemActivity" />
        <activity android:name="com.wdz.studycollection.datasave.SharedPreferenceActivity" />
        <activity android:name="com.wdz.studycollection.asynctask.AsyncTaskActivity" />
        <activity android:name="com.wdz.studycollection.network.SocketClientActivity" />
        <activity android:name="com.wdz.studycollection.fragment.revolve.FixProblemsActivity" />
        <activity android:name="com.wdz.studycollection.fragment.viewpager.VpAndFragActivity" />
        <activity android:name="com.wdz.studycollection.fragment.FragmentActivity" />
        <activity android:name="com.wdz.studycollection.recyclerview.grid.GridViewActivity" />
        <activity android:name="com.wdz.studycollection.myview.LayoutInflaterActivity" />
        <activity android:name="com.wdz.studycollection.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.wdz.studycollection.activity.DatePickerActivity" />
        <activity android:name="com.wdz.studycollection.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wdz.studycollection.activity.ColorPickerActivity" />
        <activity android:name="com.wdz.studycollection.activity.ColorPicker1Activity" />
        <activity android:name="com.wdz.studycollection.activity.ColorPicker2Activity" />
        <activity android:name="com.wdz.studycollection.activity.SurfaceViewActivity" />
        <activity android:name="com.wdz.studycollection.activity.PageActivity" />
        <activity android:name="com.wdz.studycollection.activity.TabViewActivity" />
        <activity android:name="com.wdz.studycollection.activity.DrawableWrapperActivity" />
        <activity android:name="com.wdz.studycollection.activity.DrawableIconActivity" />
        <activity android:name="com.wdz.studycollection.activity.DrawableIconIVActivity" />
        <activity android:name="com.wdz.studycollection.indicatorview.IndicatorActivity" />
        <activity android:name="com.wdz.studycollection.recyclepager.FragmentPagerActivity" />
        <activity android:name="com.wdz.studycollection.recyclepager.ImageRecyclerActivity" />
        <activity android:name="com.wdz.studycollection.activity.LetterIndexActivity" />
        <activity android:name="com.wdz.studycollection.mvp.logintest.MvpActivity" />
        <activity android:name="com.wdz.studycollection.mvp.test1.DataActivity" />
        <activity android:name="com.wdz.studycollection.mvp.writeandread.SavaActivity" />
        <activity android:name="com.wdz.studycollection.fragment.revolve.SavedInstanceStateUsingActivity" />

        <service
            android:name="com.wdz.studycollection.viewbase.floating.FloatingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.wdz.studycollection.network.SocketServerService"
            android:process=":remote" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>