<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.studycollection">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".activity.SplashActivity"
            >
        </activity>
        <activity android:name=".datasave.service.ServiceDemoActivity" />
        <activity android:name=".internet.glide.GlideActivity" />
        <activity android:name=".internet.OkHttpDemoActivity" />
        <activity android:name=".rxjava.RxDemoActivity" />
        <activity android:name=".datasave.parcelable.ParcelableNextActivity" />
        <activity android:name=".datasave.parcelable.ParcelableDemoActivity" />
        <activity android:name=".media.CameraXActivity" />
        <activity android:name=".jetpack.viewmodel.NewWordActivity" />
        <activity android:name=".jetpack.viewmodel.ViewModelActivity" />
        <activity android:name=".materialdesign.DrawerLayoutActivity" />
        <activity android:name=".media.NotifyActivity" />
        <activity android:name=".handler.LoadPicActivity" />
        <activity android:name=".handler.Timer1Activity" />
        <activity android:name=".handler.TimerActivity" />
        <activity android:name=".handler.DataBindingDemoActivity" />
        <activity android:name=".handler.HandlerDemoActivity" />
        <activity android:name=".datasave.room.RoomTestActivity" />
        <activity android:name=".anim.AnimDemoActivity" />
        <activity android:name=".viewbase.scroller.ScrollerActivity" />
        <activity android:name=".viewbase.floating.FloatingViewActivity" />
        <activity android:name=".viewbase.CoordinateSystemActivity" />
        <activity android:name=".datasave.SharedPreferenceActivity" />
        <activity android:name=".asynctask.AsyncTaskActivity" />
        <activity android:name=".network.SocketClientActivity" />
        <activity android:name=".fragment.revolve.FixProblemsActivity" />
        <activity android:name=".fragment.viewpager.VpAndFragActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".recyclerview.grid.GridViewActivity" />
        <activity android:name=".myview.LayoutInflaterActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".activity.DatePickerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ColorPickerActivity" />
        <activity android:name=".activity.ColorPicker1Activity" />
        <activity android:name=".activity.ColorPicker2Activity" />
        <activity android:name=".activity.SurfaceViewActivity" />
        <activity android:name=".activity.PageActivity" />
        <activity android:name=".activity.TabViewActivity" />
        <activity android:name=".activity.DrawableWrapperActivity" />
        <activity android:name=".activity.DrawableIconActivity" />
        <activity android:name=".activity.DrawableIconIVActivity" />
        <activity android:name=".indicatorview.IndicatorActivity" />
        <activity android:name=".recyclepager.FragmentPagerActivity" />
        <activity android:name=".recyclepager.ImageRecyclerActivity" />
        <activity android:name=".activity.LetterIndexActivity" />
        <activity android:name=".mvp.logintest.MvpActivity" />
        <activity android:name=".mvp.test1.DataActivity" />
        <activity android:name=".mvp.writeandread.SavaActivity" />
        <activity android:name=".fragment.revolve.SavedInstanceStateUsingActivity" />
        <activity android:name=".base.PermissionActivity" />

        <service
            android:name=".datasave.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".datasave.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".viewbase.floating.FloatingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".network.SocketServerService"
            android:process=":remote" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>