<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.module_communication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-permission    android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".main.library.zxing.ZxingDemoActivity"></activity>
        <activity android:name=".main.info.wifi.WifiDemoActivity" />
        <activity android:name=".main.network.socket.SocketClientActivity" />
        <activity android:name=".main.network.asynctask.AsyncTaskActivity" />
        <activity android:name=".main.network.handler.HandlerDemoActivity" />
        <activity android:name=".main.network.handler.LoadPicActivity" />
        <activity android:name=".main.network.okhttp.OkHttpDemoActivity" />
        <activity android:name=".main.network.glide.GlideActivity" />
        <activity android:name=".main.network.handler.DataBindingDemoActivity" />
        <activity android:name=".main.network.handler.TimerActivity" />
        <activity android:name=".main.network.handler.Timer1Activity" />
        <activity android:name=".main.network.handler.HandlerThreadActivity" />
        <activity android:name=".main.iot.gatt.GattDemoActivity" />
        <activity android:name=".main.datasave.sp.SharedPreferenceActivity" />
        <activity android:name=".main.datasave.room.RoomTestActivity" />
        <activity android:name=".main.datasave.parcelable.ParcelableDemoActivity" />
        <activity android:name=".main.datasave.parcelable.ParcelableNextActivity" />
        <activity android:name=".main.library.zxing.CaptureActivity"/>

        <service
            android:name=".main.network.socket.SocketServerService"
            android:process=":remote" />
    </application>

</manifest>