<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.module_communication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".main.iot.voice.VoiceActivity"></activity>
        <activity android:name=".main.network.SocketClientActivity" />
        <activity android:name=".main.asynctask.AsyncTaskActivity" />
        <activity android:name=".main.handler.HandlerDemoActivity" />
        <activity android:name=".main.handler.LoadPicActivity" />
        <activity android:name=".main.internet.OkHttpDemoActivity" />
        <activity android:name=".main.internet.glide.GlideActivity" />
        <activity android:name=".main.handler.DataBindingDemoActivity" />
        <activity android:name=".main.handler.TimerActivity" />
        <activity android:name=".main.handler.Timer1Activity" />
        <activity android:name=".main.handler.HandlerThreadActivity" />
        <activity android:name=".main.iot.GattDemoActivity" />
        <activity android:name=".main.datasave.SharedPreferenceActivity" />
        <activity android:name=".main.datasave.room.RoomTestActivity" />
        <activity android:name=".main.datasave.parcelable.ParcelableDemoActivity" />
        <activity android:name=".main.datasave.parcelable.ParcelableNextActivity" />
        <activity android:name=".main.datasave.service.ServiceDemoActivity" />

        <service
            android:name=".main.network.SocketServerService"
            android:process=":remote" />
        <service
            android:name=".main.datasave.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".main.datasave.service.MyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>