<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdz.module_customview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"/>
        <activity android:name=".main.RingColorPickerActivity"/>
        <activity android:name=".main.ColorPickerHsvActivity"/>
        <activity android:name=".main.SurfaceViewActivity"/>
        <activity android:name=".main.PageActivity"/>
        <activity android:name=".main.TabViewActivity"/>
        <activity android:name=".main.DrawableWrapperActivity"/>
        <activity android:name=".main.DrawableIconActivity"/>
        <activity android:name=".main.DrawableIconIVActivity"/>
        <activity android:name=".main.IndicatorActivity"/>
        <activity android:name=".main.recyclepager.FragmentPagerActivity"/>
        <activity android:name=".main.recyclepager.ImageRecyclerActivity"/>
        <activity android:name=".main.LetterIndexActivity"/>
        <activity android:name=".main.DatePickerActivity"/>
        <activity android:name=".main.recyclerview.RecyclerViewActivity"/>
    </application>

</manifest>